.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  padding: 12px;
  border-radius: 8px;
  background: #f5f5f5;
}

/* Браузерний line clamp */
.item p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* старий синтаксис */
  -webkit-box-orient: vertical;

  line-clamp: 3;
  /* новий — VS Code вимагав */
  overflow: hidden;
}